<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Dashboard.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="dashboard">
      <div class="navbar-search">
        <div class="logo1">
          <img class="union-icon1" alt="" src="{% static 'images/union1.svg' %}" />
        </div>
        <div class="search-field">
          <div class="charmsearch-parent">
            <img
              class="charmsearch-icon"
              alt=""
              src="{% static 'images/charmsearch.svg' %}"
            />

            <input class="search" type="search" placeholder="SEARCH" />
          </div>
          <img
            class="icround-keyboard-voice-icon"
            alt=""
            src="{% static 'images/icroundkeyboardvoice.svg' %}"
          />
        </div>
        <div class="right-links1">
          <div class="notifications">
            <img
              class="icon-notification"
              alt=""
              src="{% static 'images/icon-notification.svg' %}"
            />
          </div>
          <div class="profile">
            <img
              class="icon-notification"
              alt=""
              src="{% static 'images/icon-user.svg' %}"
            />

            <img
              class="icon-notification"
              alt=""
              src="{% static 'images/dropdrown.svg' %}"
            />
          </div>
          <div class="langkz">
            <img
              class="icon-notification"
              alt=""
              src="{% static 'images/dropdrown.svg' %}"
            />

            <div class="view-all">kazakh</div>
          </div>
        </div>
      </div>
      <div class="menu-parent">
        <div class="menu">
          <div class="avatar-and-name">
            <img class="avatar-icon" alt="" src="{% static 'images/avatar@2x.png' %}" />

            <div class="name9">
              <div class="assel-sadykova">Assel Sadykova</div>
              <a class="view-profile" id="viewProfile">View Profile</a>
            </div>
          </div>
          <div class="line">
            <div class="line-child"></div>
          </div>
          <div class="container">
            <div class="connections">
              <a class="icbaseline-person-search">
                <img class="vector-icon1" alt="" src="{% static 'images/vector1.svg' %}" />

                <img class="vector-icon2" alt="" src="{% static 'images/vector2.svg' %}" />
              </a>
              <div class="notifications">
                <a class="search-mentors">Search mentors</a>
              </div>
            </div>
            <div class="connections">
              <a class="fa-soliduser-friends">
                <img class="vector-icon3" alt="" src="{% static 'images/vector3.svg' %}" />
              </a>
              <a class="search-mentors">My connections</a>
            </div>
            <div class="connections">
              <a class="icbaseline-person-search">
                <img class="vector-icon4" alt="" src="{% static 'images/vector4.svg' %}" />
              </a>
              <a class="search-mentors">Reports & Statitics</a>
            </div>
            <div class="connections">
              <a class="icbaseline-person-search">
                <img class="vector-icon5" alt="" src="{% static 'images/vector5.svg' %}" />

                <img class="vector-icon6" alt="" src="{% static 'images/vector6.svg' %}" />
              </a>
              <a class="search-mentors">Events</a>
            </div>
            <div class="connections">
              <a class="icbaseline-person-search">
                <img class="vector-icon7" alt="" src="{% static 'images/vector7.svg' %}" />
              </a>
              <a class="search-mentors">Saved posts</a>
            </div>
            <div class="more">
              <a class="vector-container">
                <img class="vector-icon8" alt="" src="{% static 'images/vector8.svg' %}" />
              </a>
              <a class="search-mentors">More</a>
            </div>
          </div>
        </div>
        <div class="matches-and-requests-parent">
          <div class="matches-and-requests">
            <div class="matches">
              <div class="matches-description">
                <div class="todays-matches">
                  <b class="assel-sadykova">Today’s Matches</b>
                  <img
                    class="fluentmatch-app-layout-20-fil-icon"
                    alt=""
                    src="{% static 'images/fluentmatchapplayout20filled.svg' %}"
                  />
                </div>
                <div class="paragraph2">
                  This section is designed to help users stay up-to-date with
                  their connections and manage their schedules effectively.
                  Users can view all available matches and accept or reject
                  friend and appointment requests with ease.
                </div>
              </div>
              <div class="sean">
                <div class="avatar-connect">
                  <img
                    class="avatar-icon1"
                    alt=""
                    src="{% static 'images/avatar1@2x.png' %}"
                  />

                  <div class="connect">
                    <img
                      class="fluentmatch-app-layout-20-fil-icon"
                      alt=""
                      src="{% static 'images/twemojihandshakelightskintonemediumskintone.svg' %}"
                    />

                    <button class="button">
                      <div class="connected">connected</div>
                    </button>
                  </div>
                </div>
                <div class="bio">
                  <div class="had-an-amazing">
                    I am excited to connect with you through Kenes. As a mentor,
                    I bring years of experience and expertise in the field of
                    business analysis. Let's work together to unlock your full
                    potential!
                  </div>
                  <div class="name10">Sean Farmer</div>
                  <div class="had-an-amazing">
                    <span>I can help with </span>
                    <b>Business Analysis</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="requests">
              <div class="friend-requests">
                <div class="connections">
                  <img
                    class="material-symbolswaving-hand-r-icon"
                    alt=""
                    src="{% static 'images/dashiconsarrowleftalt22.svg' %}"
                  />

                  <div class="profile-parent">
                    <div class="profile1">
                      <img
                        class="avatar-icon2"
                        alt=""
                        src="{% static 'images/avatar2@2x.png' %}"
                      />

                      <div class="description23">
                        <div class="name11">Isabella Rodriguez</div>
                        <div class="view-profile1">View Profile</div>
                      </div>
                    </div>
                    <div class="request">
                      <div class="request1">
                        <div class="friends-requests">
                          <div class="name12">Friends Requests</div>
                          <img
                            class="charmsearch-icon"
                            alt=""
                            src="{% static 'images/fluentpersonadd24filled.svg' %}"
                          />
                        </div>
                        <div class="i-came-across">
                          I came across your profile and I thought it would be
                          great to connect! I'm always looking to meet...
                        </div>
                      </div>
                      <div class="buttons1">
                        <button class="button1">
                          <img
                            class="charmtick-icon"
                            alt=""
                            src="{% static 'images/charmtick.svg' %}"
                          />

                          <div class="accept">accept</div>
                        </button>
                        <a class="button2">
                          <img
                            class="charmtick-icon"
                            alt=""
                            src="{% static 'images/fluentemojihighcontrastcrossmark.svg' %}"
                          />

                          <div class="reject">reject</div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <img
                    class="material-symbolswaving-hand-r-icon"
                    alt=""
                    src="{% static 'images/dashiconsarrowleftalt211.svg' %}"
                  />
                </div>
                <div class="button3">
                  <div class="view-all">view all</div>
                </div>
              </div>
              <div class="slider-parent">
                <div class="todays-matches">
                  <img
                    class="material-symbolswaving-hand-r-icon"
                    alt=""
                    src="{% static 'images/dashiconsarrowleftalt22.svg' %}"
                  />

                  <div class="profile-group">
                    <div class="profile1">
                      <img
                        class="avatar-icon2"
                        alt=""
                        src="{% static 'images/avatar3@2x.png' %}"
                      />

                      <div class="description23">
                        <div class="name11">Lucas Martin</div>
                        <div class="view-profile1">View Profile</div>
                      </div>
                    </div>
                    <div class="request2">
                      <div class="request3">
                        <div class="friends-requests1">
                          <div class="name12">Pending Appointments</div>
                          <img
                            class="fa-soliduser-clock-icon"
                            alt=""
                            src="{% static 'images/fasoliduserclock.svg' %}"
                          />
                        </div>
                        <div class="i-came-across">
                          I'm excited to work with you on this mentoring
                          session. My goal is to share...
                        </div>
                      </div>
                      <div class="paragraph4">Time: 30/10/2022 18:30</div>
                      <div class="buttons2">
                        <a class="button4">
                          <img
                            class="charmtick-icon"
                            alt=""
                            src="{% static 'images/charmtick1.svg' %}"
                          />

                          <div class="reject">accept</div>
                        </a>
                        <a class="button2">
                          <img
                            class="charmtick-icon"
                            alt=""
                            src="{% static 'images/fluentemojihighcontrastcrossmark1.svg' %}"
                          />

                          <div class="reject">reject</div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <img
                    class="material-symbolswaving-hand-r-icon"
                    alt=""
                    src="{% static 'images/dashiconsarrowleftalt211.svg' %}"
                  />
                </div>
                <div class="button3">
                  <div class="view-all">view all</div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-frame-parent">
            <div class="main-frame">
              <div class="content">
                <div class="help-request">
                  <div class="community">
                    <div class="connections">
                      <b class="assel-sadykova">Community</b>
                      <img
                        class="material-symbolswaving-hand-r-icon"
                        alt=""
                        src="{% static 'images/materialsymbolswavinghandrounded.svg' %}"
                      />
                    </div>
                    <div class="help-requests">Help Requests</div>
                  </div>
                  <div class="slide">
                    <img
                      class="material-symbolswaving-hand-r-icon"
                      alt=""
                      src="{% static 'images/dashiconsarrowleftalt23.svg' %}"
                    />

                    <div class="card-11">
                      <div class="avatar-description">
                        <img
                          class="avatar-icon2"
                          alt=""
                          src="{% static 'images/avatar4@2x.png' %}"
                        />

                        <div class="description23">
                          <div class="name11">Alexander Davis</div>
                          <div class="view-profile3">View Profile</div>
                        </div>
                      </div>
                      <div class="descr">
                        <div class="desc">
                          <b class="name11">I need help with:</b>
                          <div class="i-hope-this">
                            I hope this message finds you well. I'm reaching out
                            because I'm in need of some guidance with Business
                            Analysis.
                          </div>
                        </div>
                        <a class="button7">
                          <img
                            class="charmtick-icon"
                            alt=""
                            src="{% static 'images/charmtick.svg' %}"
                          />

                          <b class="answer-request">answer request</b>
                        </a>
                      </div>
                    </div>
                    <div class="card-21">
                      <div class="avatar-description">
                        <img
                          class="avatar-icon2"
                          alt=""
                          src="{% static 'images/avatar5@2x.png' %}"
                        />

                        <div class="description23">
                          <div class="name11">Aigerim Nursultanova</div>
                          <div class="view-profile3">View Profile</div>
                        </div>
                      </div>
                      <div class="descr1">
                        <div class="desc1">
                          <b class="name11">I need help with:</b>
                          <div class="i-hope-this">
                            I hope this message finds you well. I'm reaching out
                            because I'm in need of some guidance with Business
                            Analysis.
                          </div>
                        </div>
                        <a class="button7">
                          <img
                            class="charmtick-icon"
                            alt=""
                            src="{% static 'images/charmtick1.svg' %}"
                          />

                          <b class="answer-request">answer request</b>
                        </a>
                      </div>
                    </div>
                    <img
                      class="material-symbolswaving-hand-r-icon"
                      alt=""
                      src="{% static 'images/dashiconsarrowleftalt24.svg' %}"
                    />
                  </div>
                </div>
                <div class="create-post-wrapper">
                  <div class="create-post">
                    <div class="row">
                      <div class="assel-sadykova">Posts</div>
                      <div class="type-something-here">
                        |Type something here to write a post.
                      </div>
                    </div>
                    <div class="row1">
                      <div class="row-child"></div>
                      <div class="connections">
                        <div class="icons">
                          <div class="biimage-fill">
                            <img
                              class="vector-icon9"
                              alt=""
                              src="{% static 'images/vector9.svg' %}"
                            />
                          </div>
                          <img
                            class="fluentattach-24-filled-icon"
                            alt=""
                            src="{% static 'images/fluentattach24filled.svg' %}"
                          />

                          <img
                            class="fluentattach-24-filled-icon"
                            alt=""
                            src="{% static 'images/fluentemojisparkle20filled.svg' %}"
                          />
                        </div>
                        <button class="create-a-post-wrapper">
                          <div class="create-a-post">CREATE A POST</div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="posts1">
                  <div class="post">
                    <div class="avatar-parent">
                      <img
                        class="avatar-icon6"
                        alt=""
                        src="{% static 'images/avatar6@2x.png' %}"
                      />

                      <div class="name-container">
                        <div class="name11">Arman Smagulov</div>
                        <div class="name18">15 Oct at 15:15</div>
                      </div>
                    </div>
                    <div class="had-an-amazing">
                      Had an amazing mentoring session today with one of my
                      mentees, sharing insights on Business Analysis. It was a
                      great opportunity for me to help them develop their skills
                      and apply them to their work. I'm always passionate about
                      mentoring and sharing my knowledge and experience with
                      others. It's an incredible feeling to see my mentee leave
                      the session feeling inspired and motivated to keep growing
                      in their career. I'm grateful for the chance to be a
                      mentor and help others in their journey of learning and
                      development. Here's to more successful mentoring sessions
                      in the future!
                    </div>
                    <div class="photos-parent">
                      <div class="photos">
                        <img
                          class="background-icon"
                          alt=""
                          src="{% static 'images/background@2x.png' %}"
                        />

                        <div class="background-parent">
                          <img
                            class="background-icon1"
                            alt=""
                            src="{% static 'images/background1@2x.png' %}"
                          />

                          <img
                            class="background-icon1"
                            alt=""
                            src="{% static 'images/background2@2x.png' %}"
                          />
                        </div>
                      </div>
                      <div class="connections">
                        <div class="heart-and-comment">
                          <div class="like-btn">
                            <button class="toggle-heart">
                              <img
                                class="vector-icon10"
                                alt=""
                                src="{% static 'images/vector31.svg' %}"
                              />
                            </button>
                            <div class="div1">555</div>
                          </div>
                          <div class="like-btn">
                            <img
                              class="material-symbolswaving-hand-r-icon"
                              alt=""
                              src="{% static 'images/bxscomment.svg' %}"
                            />

                            <div class="div2">100</div>
                          </div>
                        </div>
                        <div class="share-and-save">
                          <div class="vector-parent">
                            <img
                              class="vector-icon11"
                              alt=""
                              src="{% static 'images/vector41.svg' %}"
                            />

                            <div class="paragraph7">Share</div>
                          </div>
                          <button class="toggle">
                            <img
                              class="vector-icon12"
                              alt=""
                              src="{% static 'images/vector51.svg' %}"
                            />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="post1">
                    <div class="avatar-group">
                      <img
                        class="avatar-icon6"
                        alt=""
                        src="{% static 'images/avatar7@2x.png' %}"
                      />

                      <div class="name-container">
                        <div class="name11">Alua Dusenkyzy</div>
                        <div class="name18">15 Oct at 15:15</div>
                      </div>
                    </div>
                    <div class="what-a-productive">
                      What a productive day! I spent the morning attending a
                      conference on the latest trends in Project Management,
                      where I learned some valuable insights that I can't wait
                      to apply to my work. After the conference, I had an online
                      meeting with my mentees over lunch. It was a great
                      opportunity to catch up with them, provide guidance on
                      their projects, and offer advice on how to handle any
                      challenges they might be facing. Seeing their progress and
                      growth is a constant source of inspiration for me as a
                      mentor. I'm grateful for the chance to share my knowledge
                      and experience with others, and I look forward to
                      continuing to support them on their journey. Here's to
                      more productive days like this one!
                    </div>
                    <div class="photos-group">
                      <div class="photos1">
                        <img
                          class="background-icon1"
                          alt=""
                          src="{% static 'images/background3@2x.png' %}"
                        />

                        <div class="background-group">
                          <img
                            class="background-icon1"
                            alt=""
                            src="{% static 'images/background4@2x.png' %}"
                          />

                          <img
                            class="background-icon1"
                            alt=""
                            src="{% static 'images/background5@2x.png' %}"
                          />
                        </div>
                      </div>
                      <div class="connections">
                        <div class="heart-and-comment">
                          <div class="like-btn">
                            <img
                              class="material-symbolswaving-hand-r-icon"
                              alt=""
                              src="{% static 'images/toggle-heart.svg' %}"
                            />

                            <div class="div1">555</div>
                          </div>
                          <div class="like-btn">
                            <img
                              class="material-symbolswaving-hand-r-icon"
                              alt=""
                              src="{% static 'images/bxscomment.svg' %}"
                            />

                            <div class="div2">100</div>
                          </div>
                        </div>
                        <div class="share-and-save">
                          <div class="vector-parent">
                            <img
                              class="vector-icon11"
                              alt=""
                              src="{% static 'images/vector10.svg' %}"
                            />

                            <div class="paragraph7">Share</div>
                          </div>
                          <img
                            class="toggle-icon"
                            alt=""
                            src="{% static 'images/vector51.svg' %}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="biinfinity">
                  <img
                    class="vector-icon14"
                    alt=""
                    src="{% static 'images/vector11.svg' %}"
                  />

                  <div class="load-more">Load more...</div>
                </div>
              </div>
            </div>
            <footer class="footer-51">
              <div class="group2">
                <div class="socails1">
                  <img
                    class="description-icon"
                    alt=""
                    src="{% static 'images/description.svg' %}"
                  />

                  <div class="social-media1">
                    <img
                      class="frame-icon"
                      alt=""
                      src="{% static 'images/frame-9391.svg' %}"
                    />

                    <img
                      class="frame-icon"
                      alt=""
                      src="{% static 'images/frame-9401.svg' %}"
                    />

                    <img
                      class="frame-icon"
                      alt=""
                      src="{% static 'images/frame-9411.svg' %}"
                    />
                  </div>
                </div>
                <div class="footer-group1">
                  <div class="product2">
                    <div class="divider3">
                      <div class="rectangle-div"></div>
                    </div>
                    <div class="product3">
                      <img class="title-icon" alt="" src="{% static 'images/title.svg' %}" />

                      <img
                        class="link-1-icon"
                        alt=""
                        src="{% static 'images/link-1.svg' %}"
                      />

                      <img
                        class="link-2-icon"
                        alt=""
                        src="{% static 'images/link-2.svg' %}"
                      />

                      <img
                        class="link-3-icon"
                        alt=""
                        src="{% static 'images/link-3.svg' %}"
                      />

                      <img
                        class="link-3-icon1"
                        alt=""
                        src="{% static 'images/link-31.svg' %}"
                      />
                    </div>
                  </div>
                  <div class="about2">
                    <div class="divider3">
                      <div class="rectangle-div"></div>
                    </div>
                    <div class="about3">
                      <img
                        class="title-icon1"
                        alt=""
                        src="{% static 'images/title1.svg' %}"
                      />

                      <img
                        class="link-1-icon1"
                        alt=""
                        src="{% static 'images/link-11.svg' %}"
                      />

                      <img
                        class="link-2-icon1"
                        alt=""
                        src="{% static 'images/link-21.svg' %}"
                      />
                    </div>
                  </div>
                  <div class="product2">
                    <div class="divider3">
                      <div class="rectangle-div"></div>
                    </div>
                    <div class="contact3">
                      <img
                        class="title-icon2"
                        alt=""
                        src="{% static 'images/title2.svg' %}"
                      />

                      <img
                        class="link-1-icon2"
                        alt=""
                        src="{% static 'images/link-12.svg' %}"
                      />

                      <img
                        class="link-2-icon2"
                        alt=""
                        src="{% static 'images/link-22.svg' %}"
                      />

                      <img
                        class="link-3-icon2"
                        alt=""
                        src="{% static 'images/link-32.svg' %}"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="terms-group">
                <img class="terms-icon" alt="" src="{% static 'images/terms.svg' %}" />

                <img class="icon" alt="" src="{% static 'images/1.svg' %}" />
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>

    <script>
      var viewProfile = document.getElementById("viewProfile");
      if (viewProfile) {
        viewProfile.addEventListener("click", function (e) {
          window.location.href = "./MyProfileBeforeBooking1920.html";
        });
      }
      </script>
  </body>
</html>
