<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="landing-page">
      <div class="nav">
        <div class="left-links">
          <div class="about-us">ABOUT us</div>
          <div class="about-us">How it works</div>
          <div class="lang-btn">
            <div class="vector-wrapper">
              <img class="vector-icon" alt="" src="{% static 'images/vector.svg' %}" />
            </div>
            <div class="about-us">kazakh</div>
          </div>
        </div>
        <div class="logo">
          <img class="union-icon" alt="" src="{% static 'images/union.svg' %}" />
        </div>
        <div class="right-links">
          <a class="become-a-mentor" href="./MentorsStep14.html"
            >become a mentor</a
          >
          <a class="become-a-mentor" href="./MenteesStep1.html"
            >find a mentor</a
          >
          <div class="buttons">
            <button class="login-btn" id="lOGINBTN">
              <div class="login">LOGIN</div>
            </button>
            <button class="login-btn1" id="lOGINBTN1">
              <div class="sign-up">SIGN UP</div>
            </button>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="welcome-and-partners">
          <div class="welcome-cta">
            <div class="mentee-mentor-btn-parent">
              <div class="mentee-mentor-btn">
                <button class="btn" id="btn">
                  <div class="mentor">mentor</div>
                </button>
                <button class="btn1" id="btn1">
                  <div class="mentee">mentee</div>
                </button>
              </div>
              <div class="group">
                <div class="landing-text">
                  <div class="welcome-to-your-container">
                    <span>Welcome, </span>
                    <b class="mentee1">Mentee!</b>
                  </div>
                  <div class="support-text">
                    Learn from the best professionals by your side
                    <span class="completely-for-free"
                      >completely for free.</span
                    >
                  </div>
                </div>
                <div class="cta">
                  <button class="btn2" id="btn2">
                    <div class="learn-more">find a mentor</div>
                  </button>
                  <div class="video-link">
                    <div class="label">Watch more</div>
                    <img
                      class="atoms-icons-system-play"
                      alt=""
                      src="{% static 'images/atoms--icons--system--play.svg' %}"
                    />
                  </div>
                </div>
              </div>
            </div>
            <img
              class="image-group-icon"
              alt=""
              src="{% static 'images/image-group.svg' %}"
            />
          </div>
          <div class="partners">
            <b class="our-partners">Our partners</b>
            <div class="logo-companies">
              <img
                class="partner-1-icon"
                alt=""
                src="{% static 'images/partner-1@2x.png' %}"
              />

              <img
                class="partner-2-icon"
                alt=""
                src="{% static 'images/partner-2@2x.png' %}"
              />

              <img
                class="partner-2-icon"
                alt=""
                src="{% static 'images/partner-3@2x.png' %}"
              />

              <img
                class="partner-2-icon"
                alt=""
                src="{% static 'images/partner-4@2x.png' %}"
              />

              <img
                class="partner-1-icon"
                alt=""
                src="{% static 'images/partner-5@2x.png' %}"
              />
            </div>
          </div>
        </div>
        <div class="about-us1">
          <div class="about-us2">
            <b class="our-partners">About us</b>
          </div>
          <div class="text-and-map">
            <div class="map">
              <img
                class="kazakhstan-map-icon"
                alt=""
                src="{% static 'images/kazakhstan-map@2x.png' %}"
              />
            </div>
            <div class="text-group">
              <div class="text">
                <b class="title">Welcome to our mentoring platform!</b>
                <div class="paragraph">
                  We are dedicated to providing a space where individuals can
                  connect with experienced mentors from a variety of industries
                  and fields. Our platform is designed to help mentees achieve
                  their goals, whether that be personal or professional
                  development.
                </div>
                <div class="paragraph">
                  <p class="at-our-core">
                    At our core, we believe that everyone can benefit from
                    having a mentor in their lives, and our platform makes it
                    easy to find the right mentor for you. We understand that
                    every mentee has unique needs and goals, and we take pride
                    in our ability to match mentees with mentors who have the
                    relevant experience and expertise.
                  </p>
                </div>
              </div>
              <button class="btn3" id="btn3">
                <div class="learn-more">learn more</div>
              </button>
            </div>
          </div>
        </div>
        <div class="categories">
          <div class="quote">
            <div class="quote-parent">
              <div class="quote1">There is always something more to learn</div>
              <b class="quote2">EVEN FOR A MASTER</b>
            </div>
          </div>
          <div class="frame-parent">
            <div class="categories-parent">
              <div class="categories1">
                <div class="math">
                  <div class="math1">Math</div>
                </div>
                <div class="english-parent">
                  <button class="english">
                    <div class="english1">English</div>
                  </button>
                  <button class="accounting">
                    <div class="english1">accounting</div>
                  </button>
                </div>
                <div class="programming-parent">
                  <button class="programming">
                    <div class="english1">Programming</div>
                  </button>
                  <button class="career-advice">
                    <div class="english1">Career Advice</div>
                  </button>
                </div>
                <div class="jurisprudence-parent">
                  <button class="jurisprudence">
                    <div class="english1">Jurisprudence</div>
                  </button>
                  <button class="mental-help">
                    <div class="english1">Mental Help</div>
                  </button>
                </div>
              </div>
              <div class="input">
                <div class="text1">
                  <div class="our-partners">I need help in</div>
                </div>
                <input
                  class="input-field"
                  type="text"
                  placeholder="________________________________"
                />
              </div>
            </div>
            <img
              class="frame-child"
              alt=""
              src="{% static 'images/rectangle-26@2x.png' %}"
            />
          </div>
        </div>
        <div class="discover-matches">
          <div class="discover-matches1">
            <b class="our-partners">
              <p class="at-our-core">Discover the best</p>
              <p class="at-our-core">matches just for you</p>
            </b>
            <div class="card-1-parent">
              <div class="card-1">
                <img
                  class="card-1-child"
                  alt=""
                  src="{% static 'images/ellipse-15@2x.png' %}"
                />

                <div class="description">
                  <div class="lorem-ipsum-dolor">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </div>
                </div>
                <div class="name-parent">
                  <div class="name">
                    <div class="name1">Sean Farmer</div>
                  </div>
                  <div class="title-wrapper">
                    <div class="title1">I need help in ...</div>
                  </div>
                </div>
              </div>
              <img
                class="notoclapping-hands-light-skin-icon"
                alt=""
                src="{% static 'images/notoclappinghandslightskintone.svg' %}"
              />

              <div class="card-1">
                <img
                  class="card-1-child"
                  alt=""
                  src="{% static 'images/ellipse-151@2x.png' %}"
                />

                <div class="description">
                  <div class="lorem-ipsum-dolor">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </div>
                </div>
                <div class="name-parent">
                  <div class="name">
                    <div class="name1">Rhaenyra Targaryen</div>
                  </div>
                  <div class="title-wrapper">
                    <div class="title1">I need help in ...</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img
            class="image-group-icon1"
            alt=""
            src="{% static 'images/image-group1.svg' %}"
          />
        </div>
        <div class="join-our-community">
          <b class="header">Join our community</b>
          <div class="feedback-row1-parent">
            <div class="feedback-row1">
              <div class="review-1">
                <img
                  class="card-1-child"
                  alt=""
                  src="{% static 'images/ellipse-152@2x.png' %}"
                />

                <div class="description2">
                  <div class="video-link">
                    <div class="our-partners">Dana, Data Scientist</div>
                  </div>
                  <div class="description4">
                    <div class="description5">
                      “Kenes offers a variety of tools and resources that make
                      mentoring an enjoyable and productive experience. The
                      platform allows me to communicate with my mentees easily
                      and effectively, and it provides a secure platform for all
                      our interactions.”
                    </div>
                  </div>
                </div>
              </div>
              <div class="review-1">
                <img
                  class="card-1-child"
                  alt=""
                  src="{% static 'images/ellipse-153@2x.png' %}"
                />

                <div class="description2">
                  <div class="video-link">
                    <div class="our-partners">Karina, Student</div>
                  </div>
                  <div class="description4">
                    <div class="description5">
                      “Kenes offers a variety of tools and resources that make
                      mentoring an enjoyable and productive experience. The
                      platform allows me to communicate with my mentees easily
                      and effectively, and it provides a secure platform for all
                      our interactions.”
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="feedback-row2">
              <div class="review-3">
                <img
                  class="card-1-child"
                  alt=""
                  src="{% static 'images/ellipse-154@2x.png' %}"
                />

                <div class="description10">
                  <div class="video-link">
                    <div class="our-partners">Kanat, Software Engineer</div>
                  </div>
                  <div class="description4">
                    <div class="description5">
                      “Thanks to Alex's guidance, I was able to learn more about
                      the software engineering field and feel confident in
                      pursuing a career in this industry. I would highly
                      recommend Alex to anyone seeking guidance on software
                      engineering or any other related topics. Thank you, Alex!”
                    </div>
                  </div>
                </div>
              </div>
              <div class="review-4">
                <img
                  class="card-1-child"
                  alt=""
                  src="{% static 'images/ellipse-155@2x.png' %}"
                />

                <div class="description10">
                  <div class="video-link">
                    <div class="our-partners">Beket, Chess Olympiad</div>
                  </div>
                  <div class="description4">
                    <div class="description5">
                      “I had the pleasure of being mentored by John on the
                      mentoring platform, and I must say, it was an amazing
                      experience. He gave me excellent advice on how to prepare
                      for the Chess Olympiad, which proved to be very helpful.
                      Thanks to John's guidance, I was able to prepare well for
                      the Chess Olympiad and perform at my best.”
                    </div>
                  </div>
                </div>
              </div>
              <div class="review-5">
                <img
                  class="card-1-child"
                  alt=""
                  src="{% static 'images/ellipse-156@2x.png' %}"
                />

                <div class="description10">
                  <div class="video-link">
                    <div class="title1">Assemgul, Psychologist</div>
                  </div>
                  <div class="description4">
                    <div class="description5">
                      “The platform provides a safe and confidential space for
                      mentees to discuss their concerns and issues, which is
                      crucial in the field of psychology. I highly recommend the
                      Kenes mentoring platform to anyone looking for a reliable
                      and effective way to connect with mentors and receive
                      guidance on various topics.”
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer-5">
        <div class="group1">
          <div class="socails">
            <div class="description22">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniamquis.
            </div>
            <div class="social-media">
              <img
                class="social-media-child"
                alt=""
                src="{% static 'images/frame-939.svg' %}"
              />

              <img
                class="social-media-child"
                alt=""
                src="{% static 'images/frame-940.svg' %}"
              />

              <img
                class="social-media-child"
                alt=""
                src="{% static 'images/frame-941.svg' %}"
              />
            </div>
          </div>
          <div class="footer-group">
            <div class="product">
              <div class="divider">
                <div class="divider-child"></div>
              </div>
              <div class="product1">
                <div class="title3">KENES</div>
                <div class="title1">How it works</div>
                <div class="title1">Features</div>
                <div class="title1">Pricing</div>
                <div class="title1">Support</div>
              </div>
            </div>
            <div class="about">
              <div class="divider">
                <div class="divider-child"></div>
              </div>
              <div class="about1">
                <div class="title4">About kenes</div>
                <div class="link-11">Our team</div>
                <div class="link-21">Careers</div>
              </div>
            </div>
            <div class="product">
              <div class="divider">
                <div class="divider-child"></div>
              </div>
              <div class="contact1">
                <div class="title3">Contact</div>
                <div class="title1">info@kenes.kz</div>
                <div class="title1">882-587-3025</div>
                <div class="title1">Manas Street 34/1, Almaty, Kazakhstan</div>
              </div>
            </div>
          </div>
        </div>
        <div class="terms-parent">
          <div class="terms">Terms and conditions</div>
          <div class="div">©2022 - Kenes | All right reserved</div>
        </div>
      </footer>
    </div>

    <script>
      var lOGINBTN = document.getElementById("lOGINBTN");
      if (lOGINBTN) {
        lOGINBTN.addEventListener("click", function (e) {
          window.open("./sign-in");
        });
      }
      
      var lOGINBTN1 = document.getElementById("lOGINBTN1");
      if (lOGINBTN1) {
        lOGINBTN1.addEventListener("click", function (e) {
          window.open("./sign-up");
        });
      }
      
      var btn = document.getElementById("btn");
      if (btn) {
        btn.addEventListener("click", function (e) {
          window.location.href = "./LandingPageAfter.html";
        });
      }
      
      var btn1 = document.getElementById("btn1");
      if (btn1) {
        btn1.addEventListener("click", function (e) {
          // Please sync "Landing Page" to the project
        });
      }
      
      var btn2 = document.getElementById("btn2");
      if (btn2) {
        btn2.addEventListener("click", function (e) {
          window.location.href = "./MenteesStep1.html";
        });
      }
      
      var btn3 = document.getElementById("btn3");
      if (btn3) {
        btn3.addEventListener("click", function (e) {
          window.location.href = "./MenteesStep1.html";
        });
      }
      </script>
  </body>
</html>
