<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/MenteesStep11.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="mentees-step-6">
      <img
        class="mentees-step-6-child"
        alt=""
        src="{% static 'images/rectangle-223@2x.png' %}"
      />

      <div class="quote12">
        <div class="text22">
          <div class="paragraph-wrapper">
            <div class="paragraph16">
              “Setting goals is the first step in turning the invisible into
              visible.”
            </div>
          </div>
        </div>
        <div class="richat-quote-line-parent">
          <img
            class="richat-quote-line-icon"
            alt=""
            src="{% static 'images/richatquoteline.svg' %}"
          />

          <div class="paragraph17">Tony Robins</div>
        </div>
      </div>
      <img
        class="biarrow-right-circle-icon10"
        alt=""
        src="{% static 'images/biarrowrightcircle1.svg' %}"
        id="biarrowRightCircleIcon"
      />

      <img
        class="biarrow-right-circle-icon11"
        alt=""
        src="{% static 'images/biarrowrightcircle.svg' %}"
        id="biarrowRightCircleIcon1"
      />

      <div class="application-form5">
        <div class="progress18">
          <div class="share-your-goals">Step 6 of 8</div>
          <div class="progress-bar-v16">
            <div class="background6"></div>
            <div class="progress19">
              <div class="mask8"></div>
              <div class="group10">
                <div class="progress20">
                  -----------------------------------------------------
                </div>
              </div>
              <div class="content8"></div>
            </div>
          </div>
        </div>
        <div class="header9">
          <b class="text23">What are your goals on Kenes?</b>
        </div>
        <div class="textbox6">
          <div class="question27">
            <div class="share-your-goals">
              Share your goals with prospective mentors:
            </div>
          </div>
          <div class="textbox7">
            <div class="prompt8">
              <input
                class="specialization5"
                type="text"
                placeholder="My goal"
              />

              <div class="add-buton1">
                <div class="share-your-goals">Add</div>
                <button class="atoms-icons-system-add-wrapper3">
                  <img
                    class="atoms-icons-system-add6"
                    alt=""
                    src="{% static 'images/atoms--icons--system--add.svg' %}"
                  />
                </button>
              </div>
            </div>
            <div class="question28">
              <div class="share-your-goals">
                Example: identify my weak areas in the project
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-logo9">
        <div class="logo11">
          <img class="union-icon11" alt="" src="{% static 'images/union12.svg' %}" />
        </div>
      </div>
    </div>

    <script>
      var biarrowRightCircleIcon = document.getElementById("biarrowRightCircleIcon");
      if (biarrowRightCircleIcon) {
        biarrowRightCircleIcon.addEventListener("click", function (e) {
          window.location.href = "./MenteesStep10.html";
        });
      }
      
      var biarrowRightCircleIcon1 = document.getElementById(
        "biarrowRightCircleIcon1"
      );
      if (biarrowRightCircleIcon1) {
        biarrowRightCircleIcon1.addEventListener("click", function (e) {
          window.location.href = "./MenteesStep12.html";
        });
      }
      </script>
  </body>
</html>
