<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/MenteesStep15.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="mentees-step-3">
      <img
        class="mentees-step-3-child"
        alt=""
        src="{% static 'images/rectangle-226@2x.png' %}"
      />

      <h1 class="quote8">
        <div class="paragraph12">
          <p class="if-you-need">
            If you need a help from the best professionals - you have come to
          </p>
          <p class="if-you-need">the right place</p>
        </div>
      </h1>
      <button class="biarrow-right-circle2" id="biarrowRightCircle">
        <img class="vector-icon11" alt="" src="{% static 'images/vector6.svg' %}" />
      </button>
      <img
        class="biarrow-right-circle-icon4"
        alt=""
        src="{% static 'images/biarrowrightcircle.svg' %}"
        id="biarrowRightCircleIcon"
      />

      <div class="application-form2">
        <div class="progress6">
          <div class="what-subject-area">Step 3 of 8</div>
          <div class="progress-bar-v12">
            <div class="background2"></div>
            <div class="progress7">
              <div class="mask4"></div>
              <div class="group6">
                <div class="progress8">
                  -----------------------------------------------------
                </div>
              </div>
              <div class="content4"></div>
            </div>
          </div>
        </div>
        <h1 class="header5">
          <b class="text15">Tell us more about your needs</b>
        </h1>
        <div class="textbox2">
          <div class="question14">
            <div class="what-subject-area">
              What subject area would you like to get help in?
            </div>
          </div>
          <div class="prompt2">
            <input
              class="specialization"
              type="text"
              placeholder="I need help in ..."
            />

            <div class="add-button2">
              <div class="what-subject-area">Add</div>
              <button class="atoms-icons-system-add-frame">
                <img
                  class="atoms-icons-system-add2"
                  alt=""
                  src="{% static 'images/atoms--icons--system--add.svg' %}"
                />
              </button>
            </div>
          </div>
          <div class="question15">
            <div class="what-subject-area">Example: English Language</div>
          </div>
        </div>
      </div>
      <div class="navbar-logo5">
        <div class="logo7">
          <img class="union-icon7" alt="" src="{% static 'images/union12.svg' %}" />
        </div>
      </div>
    </div>

    <script>
      var biarrowRightCircle = document.getElementById("biarrowRightCircle");
      if (biarrowRightCircle) {
        biarrowRightCircle.addEventListener("click", function (e) {
          window.location.href = "/mentee-13/";
        });
      }
      
      var biarrowRightCircleIcon = document.getElementById("biarrowRightCircleIcon");
      if (biarrowRightCircleIcon) {
        biarrowRightCircleIcon.addEventListener("click", function (e) {
          window.location.href = "/mentee-14/";
        });
      }
      </script>
  </body>
</html>
