<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/MentorsStep9.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="mentors-step-4">
      <img
        class="mentors-step-4-child"
        alt=""
        src="{% static 'images/rectangle-225@2x.png' %}"
      />

      <div class="checklist4">
        <div class="list-14">
          <div class="checkbox10">
            <img class="vector-icon27" alt="" src="{% static 'images/vector8.svg' %}" />
          </div>
          <div class="include-the-information-container1">
            <p class="include-the-information1">
              Include the information on your interests,
            </p>
            <p class="include-the-information1">
              personal goals, fun facts about yourself
            </p>
          </div>
        </div>
        <div class="list-14">
          <div class="checkbox10">
            <img class="vector-icon27" alt="" src="{% static 'images/vector8.svg' %}" />
          </div>
          <div class="make-your-introduction1">
            Make your introduction engaging to read
          </div>
        </div>
      </div>
      <div class="quote19">
        <div class="text36">
          <div class="paragraph25">Share your skills with the world</div>
        </div>
      </div>
      <button class="biarrow-right-circle6" id="biarrowRightCircle">
        <img class="vector-icon29" alt="" src="{% static 'images/vector6.svg' %}" />
      </button>
      <img
        class="biarrow-right-circle-icon18"
        alt=""
        src="{% static 'images/biarrowrightcircle.svg' %}"
        id="biarrowRightCircleIcon"
      />

      <div class="application-form12">
        <div class="progress39">
          <div class="paragraph-black19">Step 4 of 7</div>
          <div class="progress-bar-v113">
            <div class="background13"></div>
            <div class="progress40">
              <div class="mask15"></div>
              <div class="group17">
                <div class="progress41">
                  -----------------------------------------------------
                </div>
              </div>
              <div class="content15"></div>
            </div>
          </div>
        </div>
        <div class="header16">
          <b class="text37">How would you like to introduce yourself?</b>
        </div>
        <div class="textbox11">
          <div class="question35">
            <div class="paragraph-black19">
              Write a short introduction of yourself to others
            </div>
          </div>
          <textarea class="prompt11" placeholder="Hi! My name is ...">
          </textarea>
        </div>
      </div>
      <div class="navbar-logo16">
        <div class="logo18">
          <img class="union-icon18" alt="" src="{% static 'images/union12.svg' %}" />
        </div>
      </div>
    </div>

    <script>
      var biarrowRightCircle = document.getElementById("biarrowRightCircle");
      if (biarrowRightCircle) {
        biarrowRightCircle.addEventListener("click", function (e) {
          window.location.href = "/mentor-10/";
        });
      }
      
      var biarrowRightCircleIcon = document.getElementById("biarrowRightCircleIcon");
      if (biarrowRightCircleIcon) {
        biarrowRightCircleIcon.addEventListener("click", function (e) {
          window.location.href = "/mentor-8/";
        });
      }
      </script>
  </body>
</html>
