<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/MenteesStep13.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="mentees-step-4">
      <img
        class="mentees-step-4-child"
        alt=""
        src="{% static 'images/rectangle-225@2x.png' %}"
      />

      <div class="checklist1">
        <div class="list-11">
          <div class="checkbox3">
            <img class="vector-icon15" alt="" src="{% static 'images/vector8.svg' %}" />
          </div>
          <div class="fill-in-the">
            Fill in the relavant information on your education background
          </div>
        </div>
        <div class="list-11">
          <div class="checkbox3">
            <img class="vector-icon15" alt="" src="{% static 'images/vector8.svg' %}" />
          </div>
          <div class="feel-free-to">
            Feel free to add more than one institution
          </div>
        </div>
      </div>
      <div class="quote10">
        <div class="text18">
          <div class="paragraph14">Share your skills with the world</div>
        </div>
      </div>
      <button class="biarrow-right-circle3" id="biarrowRightCircle">
        <img class="vector-icon17" alt="" src="{% static 'images/vector6.svg' %}" />
      </button>
      <img
        class="biarrow-right-circle-icon7"
        alt=""
        src="{% static 'images/biarrowrightcircle.svg' %}"
        id="biarrowRightCircleIcon"
      />

      <div class="application-form4">
        <div class="progress12">
          <div class="example-kaspikz">Step 4 of 8</div>
          <div class="progress-bar-v14">
            <div class="background4"></div>
            <div class="progress13">
              <div class="mask6"></div>
              <div class="group8">
                <div class="progress14">
                  -----------------------------------------------------
                </div>
              </div>
              <div class="content6"></div>
            </div>
          </div>
        </div>
        <div class="header7">
          <b class="text19">Great! It’s time for your education background</b>
        </div>
        <div class="textbox4">
          <div class="question20">
            <div class="example-kaspikz">Where are you currently working?</div>
          </div>
          <div class="prompt4">
            <input class="specialization2" type="text" placeholder="Company" />

            <div class="add-parent">
              <div class="example-kaspikz">Add</div>
              <button class="atoms-icons-system-add-wrapper1">
                <img
                  class="atoms-icons-system-add4"
                  alt=""
                  src="{% static 'images/atoms--icons--system--add.svg' %}"
                />
              </button>
            </div>
          </div>
          <div class="question21">
            <div class="example-kaspikz">Example: Kaspi.kz</div>
          </div>
        </div>
        <div class="level8">
          <div class="question20">
            <div class="example-kaspikz">Educational Institution</div>
          </div>
          <div class="prompt4">
            <input
              class="specialization3"
              type="text"
              placeholder="Name of the Institution "
            />

            <div class="add-parent">
              <div class="example-kaspikz">Add</div>
              <button class="atoms-icons-system-add-wrapper1">
                <img
                  class="atoms-icons-system-add4"
                  alt=""
                  src="{% static 'images/atoms--icons--system--add.svg' %}"
                />
              </button>
            </div>
          </div>
          <div class="question21">
            <div class="example-kaspikz">
              Example: International IT University
            </div>
          </div>
        </div>
        <div class="level8">
          <div class="question20">
            <div class="example-kaspikz">Degree program</div>
          </div>
          <div class="prompt6">
            <input
              class="specialization4"
              type="text"
              placeholder="Name of the program"
            />
          </div>
          <div class="question21">
            <div class="example-kaspikz">
              Example: Information Systems, Bachelors
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-logo7">
        <div class="logo9">
          <img class="union-icon9" alt="" src="{% static 'images/union12.svg' %}" />
        </div>
      </div>
    </div>

    <script>
      var biarrowRightCircle = document.getElementById("biarrowRightCircle");
      if (biarrowRightCircle) {
        biarrowRightCircle.addEventListener("click", function (e) {
          window.location.href = "./MenteesStep12.html";
        });
      }
      
      var biarrowRightCircleIcon = document.getElementById("biarrowRightCircleIcon");
      if (biarrowRightCircleIcon) {
        biarrowRightCircleIcon.addEventListener("click", function (e) {
          window.location.href = "./MenteesStep15.html";
        });
      }
      </script>
  </body>
</html>
