<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./MentorsStep10.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="mentors-step-5">
      <img
        class="mentors-step-5-child"
        alt=""
        src="./public/rectangle-224@2x.png"
      />

      <div class="quote18">
        <div class="text34">
          <div class="paragraph-wrapper3">
            <div class="paragraph23">
              “Setting goals is the first step in turning the invisible into
              visible.”
            </div>
          </div>
        </div>
        <div class="richat-quote-line-group">
          <img
            class="richat-quote-line-icon1"
            alt=""
            src="./public/richatquoteline.svg"
          />

          <div class="paragraph24">Tony Robins</div>
        </div>
      </div>
      <button class="biarrow-right-circle4" id="biarrowRightCircle">
        <img class="vector-icon25" alt="" src="./public/vector6.svg" />
      </button>
      <button class="biarrow-right-circle5" id="biarrowRightCircle1">
        <img class="vector-icon26" alt="" src="./public/vector10.svg" />
      </button>
      <div class="application-form11">
        <div class="progress36">
          <div class="example-sharing-experience">Step 5 of 7</div>
          <div class="progress-bar-v112">
            <div class="background12"></div>
            <div class="progress37">
              <div class="mask14"></div>
              <div class="group16">
                <div class="progress38">
                  -----------------------------------------------------
                </div>
              </div>
              <div class="content14"></div>
            </div>
          </div>
        </div>
        <div class="header15">
          <b class="text35">What are your goals on Kenes?</b>
        </div>
        <div class="textbox9">
          <div class="question33">
            <div class="example-sharing-experience">
              Share your goals with prospective mentees:
            </div>
          </div>
          <div class="textbox10">
            <div class="prompt10">
              <input
                class="specialization7"
                type="text"
                placeholder="My goal"
              />

              <div class="add-button5">
                <div class="example-sharing-experience">Add</div>
                <button class="atoms-icons-system-add-wrapper5">
                  <img
                    class="atoms-icons-system-add8"
                    alt=""
                    src="./public/atoms--icons--system--add.svg"
                  />
                </button>
              </div>
            </div>
            <div class="question34">
              <div class="example-sharing-experience">
                Example: sharing experience
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-logo15">
        <div class="logo17">
          <img class="union-icon17" alt="" src="./public/union12.svg" />
        </div>
      </div>
    </div>

    <script>
      var biarrowRightCircle = document.getElementById("biarrowRightCircle");
      if (biarrowRightCircle) {
        biarrowRightCircle.addEventListener("click", function (e) {
          window.location.href = "./MentorsStep11.html";
        });
      }
      
      var biarrowRightCircle1 = document.getElementById("biarrowRightCircle1");
      if (biarrowRightCircle1) {
        biarrowRightCircle1.addEventListener("click", function (e) {
          window.location.href = "./MentorsStep9.html";
        });
      }
      </script>
  </body>
</html>
