<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/MentorsStep12.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="mentors-step-7">
      <img
        class="mentors-step-7-child"
        alt=""
        src="{% static 'images/rectangle-221@2x.png' %}"
      />

      <div class="quote16">
        <div class="text30">
          <div class="paragraph-wrapper1">
            <div class="paragraph21">Success is not final.</div>
          </div>
        </div>
      </div>
      <div class="application-form9">
        <div class="progress30">
          <div class="paragraph-black-container">Step 7 of 7</div>
          <div class="progress-bar-v110">
            <div class="background10"></div>
            <div class="progress31">
              <div class="mask12"></div>
              <div class="group14">
                <div class="progress32">
                  -----------------------------------------------------
                </div>
              </div>
              <div class="content12"></div>
            </div>
          </div>
        </div>
        <div class="header13">
          <div class="text-container">
            <b class="text31">You’ve made it!</b>
            <img
              class="emojione-monotonesparkles-icon1"
              alt=""
              src="{% static 'images/emojionemonotonesparkles.svg' %}"
            />
          </div>
        </div>
        <div class="paragraph-black-center-group">
          <div class="paragraph-black-container">
            <p class="your-application-is">
              Your application is pending. Our team will send you a email
            </p>
            <p class="your-application-is">
              <span>on application results. It takes</span>
              <b class="to-review-it"> 5-7 days</b>
              <span class="to-review-it"> to review it.</span>
            </p>
          </div>
          <button class="create3" id="create">
            <div class="go-to-my1">Go to my Dashboard</div>
          </button>
        </div>
      </div>
      <div class="navbar-logo13">
        <div class="logo15">
          <img class="union-icon15" alt="" src="{% static 'images/union12.svg' %}" />
        </div>
      </div>
    </div>

    <script>
      var create = document.getElementById("create");
      if (create) {
        create.addEventListener("click", function (e) {
          window.open("/dashboard/");
        });
      }
      </script>
  </body>
</html>
