<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/MenteesStep1.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="mentees-step-1">
      <img
        class="mentees-step-1-child"
        alt=""
        src="{% static 'images/rectangle-221@2x.png' %}"
      />

      <div class="join-our-community1">
        Join our community with over 10 000+ users from Kazakhstan
      </div>
      <div class="quote3">
        <div class="text8">
          <div class="paragraph5">Getting started with Kenes is easy</div>
        </div>
      </div>
      <button class="biarrow-right-circle" id="biarrowRightCircle">
        <img class="vector-icon9" alt="" src="{% static 'images/vector6.svg' %}" />
      </button>
      <img
        class="biarrow-right-circle-icon"
        alt=""
        src="{% static 'images/biarrowrightcircle.svg' %}"
        id="biarrowRightCircleIcon"
      />

      <button class="video">
        <img
          class="clarityplay-solid-icon"
          alt=""
          src="{% static 'images/clarityplaysolid.svg' %}"
        />

        <div class="learn-how-kenes">Learn how Kenes works</div>
      </button>
      <div class="application-form">
        <div class="progress">
          <div class="paragraph-black">Step 1 of 8</div>
          <div class="progress-bar-v1">
            <div class="background"></div>
            <div class="progress1">
              <div class="mask"></div>
              <div class="group2">
                <div class="progress2">
                  -----------------------------------------------------
                </div>
              </div>
              <div class="content"></div>
            </div>
          </div>
        </div>
        <div class="header2">
          <b class="text9">Nice to meet you!</b>
        </div>
        <div class="textbox">
          <div class="question">
            <div class="paragraph-black">What is your full name?</div>
          </div>
          <input class="prompt" type="text" placeholder="Full Name" />

          <div class="question1">
            <div class="paragraph-black">Example: Arman Berikuly</div>
          </div>
        </div>
        <div class="questions">
          <div class="date">
            <div class="question">
              <div class="paragraph-black">Enter your date of birth:</div>
            </div>
            <div class="options">
              <input class="option" type="number" placeholder="MM" />

              <input class="option1" type="number" placeholder="DD" />

              <input class="option2" type="number" placeholder="YYYY" />
            </div>
          </div>
          <div class="date">
            <div class="question">
              <div class="paragraph-black">Select your gender:</div>
            </div>
            <select class="options1">
              <option value="1">Male</option>
              <option value="2">Female</option>
            </select>
          </div>
        </div>
        <div class="date">
          <div class="question">
            <div class="paragraph-black">Where are you from?</div>
          </div>
          <div class="options">
            <select class="option3">
              <option value="1">Kazakhstan</option>
              <option value="2">Russia</option>
              <option value="3">USA</option>
              <option value="4">Italy</option>
              <option value="5">Spain</option>
            </select>
            <input class="option4" type="text" placeholder="City" />
          </div>
        </div>
        <div class="linkedin">
          <div class="question">
            <div class="paragraph-black">What languages do you speak?</div>
          </div>
          <div class="option-parent">
            <input class="option4" type="text" placeholder="Language" />

            <div class="fluency">
              <select class="option6">
                <option value="1">Beginner</option>
                <option value="2">Intermediate</option>
                <option value="3">Advanced</option>
              </select>
              <div class="add-button">
                <div class="paragraph-black">Add</div>
                <button class="atoms-icons-system-add-wrapper">
                  <img
                    class="atoms-icons-system-add"
                    alt=""
                    src="{% static 'images/atoms--icons--system--add.svg' %}"
                  />
                </button>
              </div>
            </div>
          </div>
          <div class="question6">
            <div class="paragraph-black">Example: Kazakh</div>
          </div>
        </div>
      </div>
      <div class="navbar-logo">
        <div class="logo2">
          <img class="union-icon2" alt="" src="{% static 'images/union12.svg' %}" />
        </div>
      </div>
    </div>

    <script>
      var biarrowRightCircle = document.getElementById("biarrowRightCircle");
      if (biarrowRightCircle) {
        biarrowRightCircle.addEventListener("click", function (e) {
          window.location.href = "/mentee-14/";
        });
      }
      
      var biarrowRightCircleIcon = document.getElementById("biarrowRightCircleIcon");
      if (biarrowRightCircleIcon) {
        biarrowRightCircleIcon.addEventListener("click", function (e) {
          window.location.href = "/mentor-13/";
        });
      }
      </script>
  </body>
</html>
