<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/MenteesStep9.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="mentees-step-8">
      <img
        class="mentees-step-8-child"
        alt=""
        src="{% static 'images/rectangle-223@2x1.png' %}"
      />

      <div class="quote15">
        <div class="text28">
          <div class="paragraph-frame">
            <div class="paragraph20">Success is not final</div>
          </div>
        </div>
      </div>
      <div class="application-form8">
        <div class="progress27">
          <div class="paragraph-black12">Step 8 of 8</div>
          <div class="progress-bar-v19">
            <div class="background9"></div>
            <div class="progress28">
              <div class="mask11"></div>
              <div class="group13">
                <div class="progress29">
                  -----------------------------------------------------
                </div>
              </div>
              <div class="content11"></div>
            </div>
          </div>
        </div>
        <div class="header12">
          <div class="text-parent">
            <b class="text29">You’ve made it!</b>
            <img
              class="emojione-monotonesparkles-icon"
              alt=""
              src="{% static 'images/emojionemonotonesparkles.svg' %}"
            />
          </div>
        </div>
        <div class="paragraph-black-center-parent">
          <div class="paragraph-black12">
            Your account is ready - use it to the fullest.
          </div>
          <button class="create2" id="create">
            <div class="go-to-my">Go to my Dashboard</div>
          </button>
        </div>
      </div>
      <div class="navbar-logo12">
        <div class="logo14">
          <img class="union-icon14" alt="" src="{% static 'images/union12.svg' %}" />
        </div>
      </div>
    </div>

    <script>
      var create = document.getElementById("create");
      if (create) {
        create.addEventListener("click", function (e) {
          // Please sync "Dashboard" to the project
        });
      }
      </script>
  </body>
</html>
