<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/MentorsStep14.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <form class="mentors-step-1" method="POST">
      <img
        class="mentors-step-1-child"
        alt=""
        src="{% static 'images/rectangle-221@2x.png' %}"
      />

      <div class="join-our-community2">
        Join our community with over 10 000+ users from Kazakhstan
      </div>
      <div class="quote5">
        <div class="text10">
          <div class="paragraph8">Getting started with Kenes is easy</div>
        </div>
      </div>
    <button type="submit">
      <img
        class="biarrow-right-circle-icon1"
        alt=""
        src="{% static 'images/biarrowrightcircle1.svg' %}"
        id="biarrowRightCircleIcon"
      />
    </button>
      <img
        class="biarrow-right-circle-icon2"
        alt=""
        src="{% static 'images/biarrowrightcircle.svg' %}"
        id="biarrowRightCircleIcon1"
      />
      <button class="video1">
        <img
          class="clarityplay-solid-icon1"
          alt=""
          src="{% static 'images/clarityplaysolid.svg' %}"
        />

        <div class="learn-how-kenes1">Learn how Kenes works</div>
      </button>
      <div class="application-form1">
        <div class="progress3">
          <div class="paragraph-black1">Step 1 of 7</div>
          <div class="progress-bar-v11">
            <div class="background1"></div>
            <div class="progress4">
              <div class="mask2"></div>
              <div class="group4">
                <div class="progress5">
                  -----------------------------------------------------
                </div>
              </div>
              <div class="content2"></div>
            </div>
          </div>
        </div>
        <div class="header3">
          <b class="text11">Nice to meet you!</b>
        </div>
        <div class="textbox1">
          <div class="question7">
            <div class="paragraph-black1">What is your full name?</div>
          </div>
          <input class="prompt1" type="text" placeholder="Full Name" required/>

          <div class="question8">
            <div class="paragraph-black1">Example: Arman Berikuly</div>
          </div>
        </div>
        <div class="questions1">
          <div class="date1">
            <div class="question7">
              <div class="paragraph-black1">Enter your date of birth:</div>
            </div>
            <div class="options3">
              <input class="option7" type="number" placeholder="MM" />

              <input class="option8" type="number" placeholder="DD" />

              <input class="option9" type="number" placeholder="YYYY" />
            </div>
          </div>
          <div class="date1">
            <div class="question7">
              <div class="paragraph-black1">Select your gender:</div>
            </div>
            <select class="options4">
              <option value="1">Male</option>
              <option value="2">Female</option>
            </select>
          </div>
        </div>
        <div class="date1">
          <div class="question7">
            <div class="paragraph-black1">Where are you from?</div>
          </div>
          <div class="options3">
            <select class="option10">
              <option value="1">Kazakhstan</option>
              <option value="2">Russia</option>
              <option value="3">USA</option>
              <option value="4">Italy</option>
              <option value="5">Spain</option>
            </select>
            <input class="option11" type="text" placeholder="City" required/>
          </div>
        </div>
        <div class="linkedin1">
          <div class="question7">
            <div class="paragraph-black1">What languages do you speak?</div>
          </div>
          <div class="option-group">
            <input class="option11" type="text" placeholder="Language" />

            <div class="fluency1">
              <select class="option13">
                <option value="1">Beginner</option>
                <option value="2">Intermediate</option>
                <option value="3">Advanced</option>
              </select>
              <div class="add-button1">
                <div class="paragraph-black1">Add</div>
                <button class="atoms-icons-system-add-container">
                  <img
                    class="atoms-icons-system-add1"
                    alt=""
                    src="{% static 'images/atoms--icons--system--add.svg' %}"
                  />
                </button>
              </div>
            </div>
          </div>
          <div class="question13">
            <div class="paragraph-black1">Example: Kazakh</div>
          </div>
        </div>
      </div>
      <div class="navbar-logo2">
        <div class="logo4">
          <img class="union-icon4" alt="" src="{% static 'images/union12.svg' %}" />
        </div>
      </div>
    </form>

    <script>
{#      var biarrowRightCircleIcon = document.getElementById("biarrowRightCircleIcon");#}
{#      if (biarrowRightCircleIcon) {#}
{#        biarrowRightCircleIcon.addEventListener("click", function (e) {#}
{#          window.location.href = "/mentor-13/";#}
{#        });#}
{#      }#}

      var biarrowRightCircleIcon1 = document.getElementById(
        "biarrowRightCircleIcon1"
      );
      if (biarrowRightCircleIcon1) {
        biarrowRightCircleIcon1.addEventListener("click", function (e) {
          window.location.href = "/choose-a-role/";
        });
      }
      </script>
  </body>
</html>
