<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/MentorsStep11.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="mentors-step-6">
      <img
        class="mentors-step-6-child"
        alt=""
        src="{% static 'images/rectangle-223@2x.png' %}"
      />

      <div class="quote17">
        <div class="text32">
          <div class="paragraph-wrapper2">
            <div class="paragraph22">A picture is worth a thousand words</div>
          </div>
        </div>
      </div>
      <div class="application-form10">
        <div class="progress33">
          <div class="paragraph-black15">Step 6 of 7</div>
          <div class="progress-bar-v111">
            <div class="background11"></div>
            <div class="progress34">
              <div class="mask13"></div>
              <div class="group15">
                <div class="progress35">
                  -----------------------------------------------------
                </div>
              </div>
              <div class="content13"></div>
            </div>
          </div>
        </div>
        <div class="header14">
          <h1 class="text-frame">
            <b class="text33"
              >Add a photo to your profile to make it more appealing</b
            >
          </h1>
        </div>
        <div class="attachments1">
          <div class="iconoirattachment-group">
            <img
              class="iconoirattachment1"
              alt=""
              src="{% static 'images/iconoirattachment.svg' %}"
            />

            <p class="paragraph-black16">Attachment formats: png, jpeg</p>
          </div>
          <div class="attached-files1">
            <img
              class="epremove-filled-icon1"
              alt=""
              src="{% static 'images/epremovefilled.svg' %}"
            />

            <div class="paragraph-black15">file.jpeg;</div>
          </div>
        </div>
        <section class="application-form-child">
          <section class="bicloud-upload-fill-group">
            <div class="bicloud-upload-fill2">
              <img class="vector-icon24" alt="" src="{% static 'images/vector9.svg' %}" />
            </div>
            <input class="bicloud-upload-fill2" type="file" />

            <div class="paragraph-black15">Max file size 2MB</div>
          </section>
        </section>
      </div>
      <img
        class="biarrow-right-circle-icon16"
        alt=""
        src="{% static 'images/biarrowrightcircle1.svg' %}"
        id="biarrowRightCircleIcon"
      />

      <img
        class="biarrow-right-circle-icon17"
        alt=""
        src="{% static 'images/biarrowrightcircle.svg' %}"
        id="biarrowRightCircleIcon1"
      />

      <div class="navbar-logo14">
        <div class="logo16">
          <img class="union-icon16" alt="" src="{% static 'images/union12.svg' %}" />
        </div>
      </div>
    </div>

    <script>
      var biarrowRightCircleIcon = document.getElementById("biarrowRightCircleIcon");
      if (biarrowRightCircleIcon) {
        biarrowRightCircleIcon.addEventListener("click", function (e) {
          window.location.href = "/mentor-12/";
        });
      }
      
      var biarrowRightCircleIcon1 = document.getElementById(
        "biarrowRightCircleIcon1"
      );
      if (biarrowRightCircleIcon1) {
        biarrowRightCircleIcon1.addEventListener("click", function (e) {
          window.location.href = "/mentor-10/";
        });
      }
      </script>
  </body>
</html>
