<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/otherprofile.css' %}">
    <script src="https://kit.fontawesome.com/54900df22d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Kenes</title>
</head>
<body>
<header>
    <div class="container">
        <div class="nav">
            <div>
                <a href="{% url 'api:dashboard' %}"><img src="{% static '/images/logo.png' %}" alt="logo"></a>
            </div>
            <div>
                <div class="search-box">
                    <i class="fas fa-search"></i>
                    <input placeholder="SEARCH">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
            <div class="nav-controller">
                <a href=""><i class="fas fa-bell"></i></a>
                <a href="./myprofile.html"><i class="fas fa-user"></i></a>
                <select>
                    <option>KAZAKH</option>
                    <option>RUSSIA</option>
                </select>
            </div>
        </div>
    </div>
</header>

<div class="">

    <div class="cover-background">
        <div class="cover-text">
            <span>
                <h2>Arman Smagulov</h2>
                <p>Almaty, Kazakhstan</p>
            </span>
            <span>
                <a href="#" class="cover-button"><i class="fas fa-share"></i> share profile</a>
            </span>
        </div>
    </div>

    <div class="page">
        <aside>
            <div class="profile-info">
                <img src="{% static 'images/otherUserProfileImg.jpg' %}" alt="profile-img">
                <div>
                    <p><b>About</b> me:</p>
                    <p>Male, 32 years</p>
                    <p><i class="fas fa-briefcase"></i>Business Analyst</p>
                    <p><i class="fas fa-bolt"></i>Senior Level</p>
                    <p><i class="fas fa-arrow-up"></i>5 years experience</p>
                </div>
            </div>

            <div class="profile-text">
                <h3>Tanysaiyq!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            </div>

            <div class="profile-text">
                <h3>My reviews</h3>
                <p>As a mentee on Kenes, I had the pleasure of being mentored by Arman. Arman was instrumental in helping me develop my skills in data analysis, market research, and project management. His ability to provide practical and actionable advice was invaluable, and I learned a lot from our sessions. I would highly recommend Arman as a mentor for anyone looking to grow in the field of business analysis.<br><b>-Assel</b></p>
            </div>

            <div class="profile-text">
                <h3>Experience</h3>
                <div class="experiences">
                    <i class="fa fa-certificate" aria-hidden="true"></i>
                    <span>
                        <h4>Junior Business Analyst</h4>
                        <p>Kaspi.kz  <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 14px;"> </i>  Almaty</p>
                        <p>2019 - 2022</p>
                    </span>
                </div>
            </div>

            <div class="profile-text">
                <h3>Education</h3>
                <div class="experiences">
                    <i class="fa fa-university" aria-hidden="true"></i>
                    <span>
                        <h4>International IT University</h4>
                        <p>Information Systems (Bachelors)</p>
                        <p>2019 - 2022</p>
                    </span>
                </div>
            </div>

            <div class="profile-text">
                <h3>Languages</h3>
                <div class="experiences">
                    <i class="fa fa-language" aria-hidden="true"></i>
                    <span>
                        <h4>English</h4>
                        <p>Fluent</p>
                    </span>
                </div>

                <div class="experiences">
                    <i class="fa fa-language" aria-hidden="true"></i>
                    <span>
                        <h4>Kazakh</h4>
                        <p>Native</p>
                    </span>
                </div>

                <div class="experiences">
                    <i class="fa fa-language" aria-hidden="true"></i>
                    <span>
                        <h4>Russia</h4>
                        <p>Native</p>
                    </span>
                </div>
            </div>

            <div class="profile-text">
                <h3>Connections</h3>
                <div class="friends">
                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                    <i style="font-size: 24px;">+150</i>
                </div>
                <a href="#" style="color: #3A4980; font-size: 20px;">View all</a>
            </div>
        </aside>

        <div class="content">
            <div class="content">
                <section id="schedule">
                    <div class="schedule-inner">
                        <div class="Schedule-controller">
                            <h2>My Schedule</h2>
                            <div>
                                <p>GMT+06 (Astana)</p>
                                <div>

                                </div>
                            </div>
                        </div>
                        <div class="calendar">
                            <div class="calendar-div">
                                <table>
                                    <tr>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p>SUN</p>
                                            <h3>21</h3>
                                        </td>
                                        <td>
                                            <p>MON</p>
                                            <h3>22</h3>
                                        </td>
                                        <td>
                                            <p>TUE</p>
                                            <h3>23</h3>
                                        </td>
                                        <td>
                                            <p>WED</p>
                                            <h3>24</h3>
                                        </td>
                                        <td>
                                            <p>THU</p>
                                            <h3>25</h3>
                                        </td>
                                        <td>
                                            <p>FRI</p>
                                            <h3>26</h3>
                                        </td>
                                        <td>
                                            <p>SAT</p>
                                            <h3>27</h3>
                                        </td>
                                        <td>
                                            <p>SUN</p>
                                            <h3>28</h3>
                                        </td>
                                        <td>
                                            <p>MON</p>
                                            <h3>29</h3>
                                        </td>
                                        <td>
                                            <p>TUE</p>
                                            <h3>30</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>9 AM</p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>12 AM</p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>3 PM</p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>5 PM</p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>7 PM</p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                        <td>
                                            <p></p>
                                            <h3></h3>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="community">

                    <h2>Arman`s posts<i></i></h2>
                    <div class="posts">
                        <div class="post">
                            <div class="post-profile">
                                <img alt="post-profile-img" src="{% static 'images/dash-post-avatar-1.png' %}">
                                <span>
                                    <a href="./otherprofile.html">Arman Smagulov</a>
                                    <p>15 Oct at 15:15</p>
                                </span>
                            </div>
                            <p>Had an amazing mentoring session today with one of my mentees, sharing insights on Business Analysis. It was a great opportunity for me to help them develop their skills and apply them to their work. I'm always passionate about mentoring and sharing my knowledge and experience with others. It's an incredible feeling to see my mentee leave the session feeling inspired and motivated to keep growing in their career. I'm grateful for the chance to be a mentor and help others in their journey of learning and development. Here's to more successful mentoring sessions in the future!</p>
                            <div class="post-images">
                                <img alt="post-big-img" src="{% static 'images/Dashboard-post-1-1.png' %}" class="post-big-img">
                                <div class="small-images">
                                    <img alt="post-small-img-up" src="{% static 'images/Dashboard-post-1-2.png' %}" class="post-small-img">
                                    <img alt="post-small-img-down" src="{% static 'images/Dashboard-post-1-3.png' %}" class="post-small-img">
                                </div>
                            </div>
                            <div class="post-controller-other">
                                <div>
                                    <span>
                                        <a href="#" style="color: #FF4040 !important;"><i class="fas fa-heart"></i></a>
                                        <p>555</p>
                                    </span>
                                    <span>
                                        <a href="#"><i class="fas fa-comments"></i></a>
                                        <p>100</p>
                                    </span>
                                </div>
                                <div>
                                    <span><a href="#"><i class="fas fa-share"></i>Share</a></span>
                                    <a href="#"><i class="fas fa-bookmark"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="post">
                            <div class="post-profile">
                                <img alt="post-profile-img" src="{% static 'images/arman-post.png' %}">
                                <span>
                                    <a href="#">Arman Smagulov</a>
                                    <p>13 Oct at 21:31</p>
                                </span>
                            </div>
                            <p>Had a great day at work today! I started the day by catching up with some of my colleagues and discussing some upcoming projects. It's always great to collaborate and bounce ideas off of each other. We had a really productive meeting and I left feeling energized and excited about what's to come.
                                Later in the day, I had a meeting with a key stakeholder for one of our projects. We discussed some of their needs and requirements, and I was able to provide some insights and recommendations on how we can best meet their goals. It was a great opportunity to build rapport with the stakeholder and ensure that we're aligned in our objectives.
                                As a Senior Business Analyst, my day is often filled with a mix of meetings, project work, and collaboration. But I wouldn't have it any other way! I love my role and the opportunity to work with such a talented team. Looking forward to seeing what tomorrow brings!</p>
                            <div class="post-images">
                                <img alt="post-big-img" src="{% static 'images/other-post-1.png' %}" class="post-big-img">
                                <div class="small-images">
                                    <img alt="post-small-img-up" src="{% static 'images/other-post-2.png' %}" class="post-small-img">
                                    <img alt="post-small-img-down" src="{% static 'images/other-post-3.png' %}" class="post-small-img">
                                </div>
                            </div>
                            <div class="post-controller-other">
                                <div>
                                    <span>
                                        <a href="#" style="color: #FF4040 !important;"><i class="fas fa-heart"></i></a>
                                        <p>555</p>
                                    </span>
                                    <span>
                                        <a href="#"><i class="fas fa-comments"></i></a>
                                        <p>100</p>
                                    </span>
                                </div>
                                <div>
                                    <span><a href="#"><i class="fas fa-share"></i>Share</a></span>
                                    <a href="#"><i class="fas fa-bookmark"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="loader">
                        <img alt="load" src="{% static 'images/loader.svg' %}">
                        <p>Load more...</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="footer-div">
            <div class="footer-4">
                Our mission at Kenes is to provide a platform that enables individuals to achieve their personal and professional goals by connecting them with experienced mentors who can offer guidance and support.
                <div class="socials">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <hr>
            <div class="footer-4">
                <p>KENES</p>
                <a href="#">How it works</a>
                <a href="#">Features</a>
                <a href="#">Pricing</a>
                <a href="#">Support</a>
            </div>
            <hr>
            <div class="footer-4">
                <p>ABOUT KENES</p>
                <a href="#">Our team</a>
                <a href="#">Carees</a>
            </div>
            <hr>
            <div class="footer-4">
                <p>Contact</p>
                <a href="#">info@kenes.kz</a>
                <a href="#">882-587-3025</a>
                <a href="#">Manas Street 34/1</a>
                <a href="#">Almaty, Kazakhstan</a>
            </div>
        </div>
        <div class="copyright">
            <a href="#">Terms and conditions</a>
            <p>©2022 - Kenes  |   All right reserved</p>
        </div>
    </div>
</footer>

<script src="../static/js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>