<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/SearchResults.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="search-results">
      <div class="navbar-search">
        <div class="logo1">
          <img class="union-icon1" alt="" src="{% static 'images/union1.svg' %}" />
        </div>
        <div class="search-field">
          <div class="charmsearch-parent">
            <img
              class="charmsearch-icon"
              alt=""
              src="{% static 'images/charmsearch.svg' %}"
            />

            <input class="search" type="search" placeholder="SEARCH" />
          </div>
          <img
            class="icround-keyboard-voice-icon"
            alt=""
            src="{% static 'images/icroundkeyboardvoice.svg' %}"
          />
        </div>
        <div class="right-links1">
          <div class="notifications">
            <img
              class="icon-notification"
              alt=""
              src="{% static 'images/icon-notification.svg' %}"
            />
          </div>
          <div class="profile">
            <img
              class="icon-notification"
              alt=""
              src="{% static 'images/icon-user.svg' %}"
            />

            <img
              class="icon-notification"
              alt=""
              src="{% static 'images/dropdrown.svg' %}"
            />
          </div>
          <div class="langkz">
            <img class="vector-icon1" alt="" src="{% static 'images/vector1.svg' %}" />

            <div class="lang-kz1">kazakh</div>
          </div>
        </div>
      </div>
      <div class="mentorsmenteesevents-parent">
        <div class="mentorsmenteesevents">
          <div class="mentors">
            <div class="text2">Mentors</div>
          </div>
          <div class="events">
            <div class="arman-smagulov">Events</div>
          </div>
        </div>
        <div class="sort">
          <div class="sort-by">Sort by</div>
          <div class="filters">
            <select class="level">
              <option value="1">Junior</option>
              <option value="2">Middle</option>
              <option value="3">Senior</option>
            </select>
            <select class="level">
              <option value="1">Russian</option>
              <option value="2">Kazakh</option>
              <option value="3">English</option>
            </select>
          </div>
        </div>
      </div>
      <div class="profie-group-parent">
        <div class="profie-group">
          <a class="profile1" target="_blank">
            <div class="profile-description">
              <div class="container">
                <div class="name9">
                  <b class="arman-smagulov">Arman Smagulov</b>
                </div>
                <div class="occupation">
                  <img class="vector-icon2" alt="" src="{% static 'images/vector2.svg' %}" />

                  <div class="experience">Business Analyst</div>
                </div>
                <div class="level1">
                  <img
                    class="bilightning-charge-fill-icon"
                    alt=""
                    src="{% static 'images/bilightningchargefill.svg' %}"
                  />

                  <div class="experience">Senior Level</div>
                </div>
              </div>
            </div>
          </a>
          <a class="profile1" target="_blank">
            <div class="profile-description1">
              <div class="container">
                <div class="name9">
                  <b class="arman-smagulov">Dinara Kudaibergenova</b>
                </div>
                <div class="occupation">
                  <img class="vector-icon2" alt="" src="{% static 'images/vector3.svg' %}" />

                  <div class="experience">Product Designer</div>
                </div>
                <div class="level1">
                  <img
                    class="bilightning-charge-fill-icon"
                    alt=""
                    src="{% static 'images/bilightningchargefill1.svg' %}"
                  />

                  <div class="experience">Senior Level</div>
                </div>
              </div>
            </div>
          </a>
          <a class="profile1" target="_blank">
            <div class="profile-description2">
              <div class="container">
                <div class="name9">
                  <b class="arman-smagulov">Kanat Tursynbekov </b>
                </div>
                <div class="occupation">
                  <img class="vector-icon2" alt="" src="{% static 'images/vector4.svg' %}" />

                  <div class="experience">Software Engineer</div>
                </div>
                <div class="level1">
                  <img
                    class="bilightning-charge-fill-icon"
                    alt=""
                    src="{% static 'images/bilightningchargefill2.svg' %}"
                  />

                  <div class="experience">Senior Level</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="profie-group">
          <a class="profile1" target="_blank">
            <div class="profile-description3">
              <div class="container">
                <div class="name9">
                  <b class="arman-smagulov">Zhanna Sarsembayeva</b>
                </div>
                <div class="occupation">
                  <img class="vector-icon2" alt="" src="{% static 'images/vector2.svg' %}" />

                  <div class="experience">Business Coach</div>
                </div>
                <div class="level1">
                  <img
                    class="bilightning-charge-fill-icon"
                    alt=""
                    src="{% static 'images/bilightningchargefill.svg' %}"
                  />

                  <div class="experience">Senior Level</div>
                </div>
              </div>
            </div>
          </a>
          <a class="profile1" target="_blank">
            <div class="profile-description4">
              <div class="container">
                <div class="name9">
                  <b class="arman-smagulov">Andrey Fedorov</b>
                </div>
                <div class="occupation">
                  <img class="vector-icon2" alt="" src="{% static 'images/vector3.svg' %}" />

                  <div class="experience">IT Project Manager</div>
                </div>
                <div class="level1">
                  <img
                    class="bilightning-charge-fill-icon"
                    alt=""
                    src="{% static 'images/bilightningchargefill1.svg' %}"
                  />

                  <div class="experience">Senior Level</div>
                </div>
              </div>
            </div>
          </a>
          <a class="profile1" target="_blank">
            <div class="profile-description5">
              <div class="container">
                <div class="name9">
                  <b class="arman-smagulov">Alua Dusenkyzy</b>
                </div>
                <div class="occupation">
                  <img class="vector-icon2" alt="" src="{% static 'images/vector4.svg' %}" />

                  <div class="experience">AI/ML Engineer</div>
                </div>
                <div class="level1">
                  <img
                    class="bilightning-charge-fill-icon"
                    alt=""
                    src="{% static 'images/bilightningchargefill2.svg' %}"
                  />

                  <div class="experience">Senior Level</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="profie-group">
          <a class="profile1" target="_blank">
            <div class="profile-description6">
              <div class="container">
                <div class="name9">
                  <b class="arman-smagulov">Almas Shalkarbayev</b>
                </div>
                <div class="occupation">
                  <img class="vector-icon2" alt="" src="{% static 'images/vector2.svg' %}" />

                  <div class="experience">DevOps Engineer</div>
                </div>
                <div class="level1">
                  <img
                    class="bilightning-charge-fill-icon"
                    alt=""
                    src="{% static 'images/bilightningchargefill.svg' %}"
                  />

                  <div class="experience">Senior Level</div>
                </div>
              </div>
            </div>
          </a>
          <a class="profile1" target="_blank">
            <div class="profile-description7">
              <div class="container">
                <div class="name9">
                  <b class="arman-smagulov">Amina Nurpeisova</b>
                </div>
                <div class="occupation">
                  <img class="vector-icon2" alt="" src="{% static 'images/vector3.svg' %}" />

                  <div class="experience">Data Scientist</div>
                </div>
                <div class="level1">
                  <img
                    class="bilightning-charge-fill-icon"
                    alt=""
                    src="{% static 'images/bilightningchargefill1.svg' %}"
                  />

                  <div class="experience">Senior Level</div>
                </div>
              </div>
            </div>
          </a>
          <a class="profile1" target="_blank">
            <div class="profile-description8">
              <div class="container">
                <div class="name9">
                  <b class="arman-smagulov">Nikita Popov</b>
                </div>
                <div class="occupation">
                  <img class="vector-icon2" alt="" src="{% static 'images/vector4.svg' %}" />

                  <div class="experience">Cybersecurity Analyst</div>
                </div>
                <div class="level1">
                  <img
                    class="bilightning-charge-fill-icon"
                    alt=""
                    src="{% static 'images/bilightningchargefill2.svg' %}"
                  />

                  <div class="experience">Senior Level</div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="biinfinity">
        <img class="vector-icon11" alt="" src="{% static 'images/vector5.svg' %}" />

        <div class="load-more">Load more...</div>
      </div>
      <footer class="footer-51">
        <div class="group2">
          <div class="socails1">
            <div class="description23">
              Our mission at Kenes is to provide a platform that enables
              individuals to achieve their personal and professional goals by
              connecting them with experienced mentors who can offer guidance
              and support.
            </div>
            <div class="social-media1">
              <img class="frame-icon" alt="" src="{% static 'images/frame-9391.svg' %}" />

              <img class="frame-icon" alt="" src="{% static 'images/frame-9401.svg' %}" />

              <img class="frame-icon" alt="" src="{% static 'images/frame-9411.svg' %}" />
            </div>
          </div>
          <div class="footer-group1">
            <div class="product2">
              <div class="divider3">
                <div class="rectangle-div"></div>
              </div>
              <div class="product3">
                <div class="title6">KENES</div>
                <div class="load-more">How it works</div>
                <div class="load-more">Features</div>
                <div class="load-more">Pricing</div>
                <div class="load-more">Support</div>
              </div>
            </div>
            <div class="about2">
              <div class="divider3">
                <div class="rectangle-div"></div>
              </div>
              <div class="about3">
                <div class="title7">About kenes</div>
                <div class="link-14">Our team</div>
                <div class="link-24">Careers</div>
              </div>
            </div>
            <div class="product2">
              <div class="divider3">
                <div class="rectangle-div"></div>
              </div>
              <div class="contact3">
                <div class="title6">Contact</div>
                <div class="load-more">info@kenes.kz</div>
                <div class="load-more">882-587-3025</div>
                <div class="load-more">
                  Manas Street 34/1, Almaty, Kazakhstan
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="terms-group">
          <div class="terms1">Terms and conditions</div>
          <div class="div1">©2022 - Kenes | All right reserved</div>
        </div>
      </footer>
    </div>
  </body>
</html>
