<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/SignUp1.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="sign-up3">
      <div class="top2">
        <img class="image-43-icon2" alt="" src="{% static 'images/image-432.svg' %}" />

        <div class="content18">
          <div class="card6">
            <div class="card-child1"></div>
          </div>
          <div class="group27">
            <div class="button14">
              <div class="card6">
                <div class="mask17"></div>
                <div class="card6">
                  <div class="inner"></div>
                </div>
              </div>
              <div class="label4">
                <div class="div66">Watch videos</div>
              </div>
            </div>
            <div class="paragraph44">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor.
            </div>
            <b class="title33">Videos</b>
          </div>
        </div>
      </div>
      <img
        class="sign-up-item"
        alt="background"
        src="{% static 'images/rectangle-22@2x2.png' %}"
        data-animate-on-scroll
      />

      <div class="description-group">
        <div class="description59">
          <div class="assem-kairatkyzy2">Assem Kairatkyzy</div>
          <div class="junior-ux-designer2">Junior UX Designer, Kaspi.kz</div>
          <div class="kazakhstan4">
            <img
              class="cilocation-icon6"
              alt=""
              src="{% static 'images/cilocation11.svg' %}"
            />

            <div class="junior-ux-designer2">Kazakhstan</div>
          </div>
        </div>
        <button class="biarrow-right-circle7" autofocus>
          <img class="vector-icon83" alt="" src="{% static 'images/vector311.svg' %}" />
        </button>
      </div>
      <div class="quote24">
        <img
          class="bxsquote-alt-left-icon2"
          alt=""
          src="{% static 'images/bxsquotealtleft1.svg' %}"
        />

        <div class="paragraph45">
          The mentors are amazing and are always available to help me every step
          of the way.
        </div>
      </div>
      <div class="sign1">
        <div class="sign-links-container">
          <div class="sign-links2">
            <b class="h2-gray4">SIGN UP</b>
            <div class="h2-gray5" id="h2Gray1">SIGN IN</div>
          </div>
          <b class="h2-black2">Create an account</b>
          <div class="a-place-for2">A place for you to inspire</div>
          <div class="socials2">
            <button class="google-sign2">
              <img
                class="bxsquote-alt-left-icon2"
                alt=""
                src="{% static 'images/akariconsgooglefill11.svg' %}"
              />

              <div class="sign-up-with2">Sign up with Google</div>
            </button>
            <button class="google-sign2">
              <img
                class="bxsquote-alt-left-icon2"
                alt=""
                src="{% static 'images/cibfacebook11.svg' %}"
              />

              <div class="sign-up-with-container1">
                <p class="sign-up-with3">Sign up with Facebook</p>
              </div>
            </button>
          </div>
        </div>
        <div class="or4">
          <img class="or-child1" alt="" src="{% static 'images/frame-9721.svg' %}" />

          <div class="or5">or</div>
          <img class="or-child1" alt="" src="{% static 'images/frame-9721.svg' %}" />
        </div>
        <input
          class="email2"
          type="email"
          placeholder="Email Address"
          required
        />

        <input
          class="password2"
          type="password"
          placeholder="Password"
          required
        />

        <div class="by-clicking-sign-up-you-agr-container">
          <div class="by-clicking-sign-container2">
            By clicking "Sign up," you agree to our
            <span class="terms-of-use2">Terms of Use</span> and our
            <span class="terms-of-use2">Privacy Policy</span>.
          </div>
        </div>
        <button class="create4" id="create">
          <div class="create-an-account1">Create an account</div>
        </button>
      </div>
      <div class="navbar-logo18">
        <a class="logo27" target="_blank">
          <img class="union-icon27" alt="" src="{% static 'images/union131.svg' %}" />
        </a>
      </div>
    </div>

    <script>
      var h2Gray1 = document.getElementById("h2Gray1");
      if (h2Gray1) {
        h2Gray1.addEventListener("click", function (e) {
          window.location.href = "/accounts/login/";
        });
      }
      
      var create = document.getElementById("create");
      if (create) {
        create.addEventListener("click", function (e) {
          window.location.href = "/choose-a-role/";
        });
      }
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>
</html>
