<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./SignUp.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="sign-up1">
      <div class="top">
        <img class="image-43-icon" alt="" src="./public/image-43.svg" />

        <div class="content1">
          <div class="card">
            <div class="card-child"></div>
          </div>
          <div class="group3">
            <div class="button1">
              <div class="card">
                <div class="mask1"></div>
                <div class="card">
                  <div class="child"></div>
                </div>
              </div>
              <div class="label1">
                <div class="div15">Watch videos</div>
              </div>
            </div>
            <div class="paragraph6">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor.
            </div>
            <b class="title9">Videos</b>
          </div>
        </div>
      </div>
      <img class="sign-up-child" alt="" src="./public/rectangle-22@2x.png" />

      <div class="transparent-frame"></div>
      <div class="quote4">
        <img
          class="bxsquote-alt-left-icon"
          alt=""
          src="./public/bxsquotealtleft.svg"
        />

        <div class="paragraph7">
          The mentors are amazing and are always available to help me every step
          of the way.
        </div>
      </div>
      <div class="description-parent">
        <div class="description24">
          <div class="assem-kairatkyzy">Assem Kairatkyzy</div>
          <div class="junior-ux-designer">Junior UX Designer, Kaspi.kz</div>
          <div class="kazakhstan">
            <img
              class="cilocation-icon1"
              alt=""
              src="./public/cilocation1.svg"
            />

            <div class="junior-ux-designer">Kazakhstan</div>
          </div>
        </div>
        <button class="biarrow-right-circle1" autofocus>
          <img class="vector-icon10" alt="" src="./public/vector7.svg" />
        </button>
      </div>
      <div class="sign">
        <div class="sign-links-parent">
          <div class="sign-links">
            <b class="h2-gray">SIGN UP</b>
            <div class="h2-gray1" id="h2Gray1">SIGN IN</div>
          </div>
          <b class="h2-black">Create an account</b>
          <div class="a-place-for">A place for you to inspire</div>
          <div class="socials">
            <button class="google-sign">
              <img
                class="bxsquote-alt-left-icon"
                alt=""
                src="./public/akariconsgooglefill.svg"
              />

              <div class="sign-up-with">Sign up with Google</div>
            </button>
            <button class="google-sign">
              <img
                class="bxsquote-alt-left-icon"
                alt=""
                src="./public/cibfacebook.svg"
              />

              <div class="sign-up-with-container">
                <p class="sign-up-with1">Sign up with Facebook</p>
              </div>
            </button>
          </div>
        </div>
        <div class="or">
          <img class="or-child" alt="" src="./public/frame-972.svg" />

          <div class="or1">or</div>
          <img class="or-child" alt="" src="./public/frame-972.svg" />
        </div>
        <input
          class="email"
          type="email"
          placeholder="Email Address"
          required
        />

        <input
          class="password"
          type="password"
          placeholder="Password"
          required
        />

        <div class="by-clicking-sign-up-you-agr-wrapper">
          <div class="by-clicking-sign-container">
            By clicking "Sign up," you agree to our
            <span class="terms-of-use">Terms of Use</span> and our
            <span class="terms-of-use">Privacy Policy</span>.
          </div>
        </div>
        <button class="create" id="create">
          <div class="create-an-account">Create an account</div>
        </button>
      </div>
      <div class="navbar-logo1">
        <div class="logo3">
          <img class="union-icon3" alt="" src="./public/union12.svg" />
        </div>
      </div>
    </div>

    <script>
      var h2Gray1 = document.getElementById("h2Gray1");
      if (h2Gray1) {
        h2Gray1.addEventListener("click", function (e) {
          window.location.href = "./SignIn.html";
        });
      }
      
      var create = document.getElementById("create");
      if (create) {
        create.addEventListener("click", function (e) {
          window.location.href = "./ChooseARole.html";
        });
      }
      </script>
  </body>
</html>
