<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/SignIn.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="sign-in">
      <img class="sign-in-child" alt="" src="{% static 'images/rectangle-221@2x1.png' %}" />

      <div class="quote6">
        <div class="text12">
          <img
            class="bxsquote-alt-left-icon1"
            alt=""
            src="{% static 'images/bxsquotealtleft.svg' %}"
          />

          <div class="paragraph9">
            The mentors are amazing and are always available to help me every
            step of the way.
          </div>
        </div>
      </div>
      <div class="sign-in1">
        <div class="frame-group">
          <div class="frame-wrapper">
            <div class="frame-group">
              <div class="sign-links1">
                <div class="h2-gray2" id="h2Gray">SIGN UP</div>
                <b class="h2-gray3">SIGN IN</b>
              </div>
              <b class="h2-black1">Welcome back</b>
              <div class="a-place-for1">A place for you to inspire</div>
              <div class="socials1">
                <button class="google-sign1">
                  <img
                    class="bxsquote-alt-left-icon1"
                    alt=""
                    src="{% static 'images/akariconsgooglefill1.svg' %}"
                  />

                  <div class="sign-in-with">Sign in with Google</div>
                </button>
                <button class="facebook-sign1">
                  <img
                    class="bxsquote-alt-left-icon1"
                    alt=""
                    src="{% static 'images/cibfacebook1.svg' %}"
                  />

                  <div class="sign-in-with-container">
                    <p class="sign-in-with1">Sign in with Facebook</p>
                  </div>
                </button>
              </div>
            </div>
          </div>
          <div class="or2">
            <div class="or-inner"></div>
            <div class="or3">or</div>
            <div class="or-inner"></div>
          </div>
          <input class="email1" type="email" placeholder="Email Address" />

          <input class="password1" type="password" placeholder="Password" />

          <div class="remember-forgot-pass">
            <div class="item-0-parent">
              <input class="item-0" type="checkbox" />

              <a class="remember-for-30">Remember for 30 days</a>
            </div>
            <a class="forgot-password">Forgot password</a>
          </div>
          <div class="by-clicking-sign-container1">
            By clicking "Sign In," you agree to our
            <span class="terms-of-use1">Terms of Use</span> and our
            <span class="terms-of-use1">Privacy Policy</span>.
          </div>
          <button class="create1" id="create">
            <div class="sign-in2">Sign In</div>
          </button>
        </div>
      </div>
      <div class="assem-kairatkyzy-parent">
        <div class="assem-kairatkyzy1">Assem Kairatkyzy</div>
        <div class="junior-ux-designer1">Junior UX Designer, Kaspi.kz</div>
        <div class="kazakhstan2">
          <img class="cilocation-icon2" alt="" src="{% static 'images/cilocation1.svg' %}" />

          <div class="junior-ux-designer1">Kazakhstan</div>
        </div>
      </div>
      <img
        class="biarrow-right-circle-icon3"
        alt=""
        src="{% static 'images/biarrowrightcircle2.svg' %}"
      />

      <div class="navbar-logo3">
        <div class="logo5">
          <img class="union-icon5" alt="" src="{% static 'images/union12.svg' %}" />
        </div>
      </div>
    </div>

    <script>
      var h2Gray = document.getElementById("h2Gray");
      if (h2Gray) {
        h2Gray.addEventListener("click", function (e) {
          window.location.href = "/mentors/sign-up";
        });
      }
      
      var create = document.getElementById("create");
      if (create) {
        create.addEventListener("click", function (e) {
          window.location.href = "./Dashboard1920.html";
        });
      }
      </script>
  </body>
</html>
