.mentors-step-3-child {
  position: absolute;
  top: 60px;
  left: 0;
  width: 660px;
  height: 964px;
  object-fit: cover;
}
.vector-icon30 {
  position: relative;
  width: 12.5px;
  height: 9px;
  flex-shrink: 0;
}
.checkbox12 {
  border-radius: var(--br-9xs);
  border: 1px solid var(--white);
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
}
.fill-in-the1 {
  position: relative;
  line-height: 30px;
  font-weight: 500;
  display: inline-block;
  width: 465px;
  flex-shrink: 0;
}
.list-15 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.feel-free-to1 {
  position: relative;
  line-height: 30px;
  font-weight: 500;
  display: inline-block;
  width: 492px;
  flex-shrink: 0;
}
.checklist5 {
  position: absolute;
  top: 523px;
  left: 48px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.paragraph26 {
  position: relative;
  line-height: 55px;
  font-weight: 500;
  display: inline-block;
  width: 528px;
  flex-shrink: 0;
}
.quote20,
.text38 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.quote20 {
  position: absolute;
  top: 382px;
  left: 48px;
  width: 563px;
  padding: var(--padding-3xs) 0 var(--padding-3xs) var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--font-size-29xl);
}
.biarrow-right-circle-icon19,
.biarrow-right-circle-icon20 {
  position: absolute;
  top: 943px;
  left: 1076px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
}
.biarrow-right-circle-icon20 {
  left: 975px;
}
.paragraph-black20 {
  position: relative;
  line-height: 24px;
}
.background14 {
  width: 100%;
  top: 0;
  right: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color3);
  height: 8px;
}
.background14,
.mask16,
.progress44 {
  position: absolute;
  left: 0;
}
.mask16 {
  width: 100%;
  top: 0;
  right: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color3);
  height: 8px;
}
.progress44 {
  top: calc(50% - 6.5px);
}
.group18 {
  position: absolute;
  height: 162.5%;
  width: 102.81%;
  top: -50%;
  right: 97.19%;
  bottom: -12.5%;
  left: -100%;
  overflow: hidden;
}
.content16,
.progress43 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.content16 {
  left: -214px;
  background-color: var(--color2);
  width: 319px;
}
.progress43 {
  width: 100%;
  right: 0;
  left: 0;
  overflow: hidden;
}
.progress-bar-v114 {
  position: relative;
  width: 249px;
  height: 8px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--text-xs-medium-size);
  color: var(--color);
}
.progress42 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray);
}
.text39 {
  position: relative;
  display: inline-block;
  width: 678px;
}
.header17,
.question36,
.specialization8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.header17 {
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color2);
}
.question36,
.specialization8 {
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs) 0;
}
.specialization8 {
  border: 1px solid var(--color);
  font-weight: 300;
  font-family: var(--font-ubuntu);
  font-size: var(--font-size-5xl);
  background-color: var(--color3);
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 469px;
  height: 64px;
  flex-shrink: 0;
  padding: var(--padding-xl);
}
.atoms-icons-system-add9 {
  position: relative;
  border-radius: var(--br-81xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.atoms-icons-system-add-wrapper6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-button6 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  gap: var(--gap-3xs);
}
.add-button6,
.prompt12,
.question37 {
  justify-content: flex-start;
}
.prompt12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
}
.question37 {
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs) 0;
  color: var(--color-slategray-100);
}
.level12,
.question37,
.textbox12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.textbox12 {
  height: 142px;
  flex-shrink: 0;
  justify-content: flex-start;
}
.level12 {
  justify-content: center;
}
.specialization10 {
  border: 1px solid var(--color);
  font-weight: 300;
  font-family: var(--font-ubuntu);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 469px;
  height: 64px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-xl);
  align-items: flex-start;
}
.application-form13,
.prompt14,
.specialization10 {
  display: flex;
  justify-content: flex-start;
}
.prompt14 {
  background-color: var(--color3);
  flex-direction: row;
  align-items: center;
}
.application-form13 {
  position: absolute;
  top: 190px;
  left: 720px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color);
}
.union-icon19 {
  position: relative;
  width: 105px;
  height: 38px;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.logo19 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xs) 0;
  align-items: center;
  justify-content: flex-start;
}
.mentors-step-3,
.navbar-logo17 {
  background-color: var(--white);
  width: 100%;
}
.navbar-logo17 {
  position: absolute;
  height: 5.86%;
  top: 0.1%;
  right: 0;
  bottom: 94.04%;
  left: 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-45xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
}
.mentors-step-3 {
  position: relative;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--font-ubuntu);
}
